* {
    border: none;
    border-radius: 0;
    font-family: "DejaVu Sans Mono", "FontAwesome";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: @background;
    color: @foreground;
    border-bottom: 2px solid @color11;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @foreground;
}

#workspaces button.active {
    color: @color14;
}

#clock, #pulseaudio, #network, #tray, #custom-cava {
    padding: 0 10px;
    background: transparent;
    color: @foreground;
}

/* Import Pywal colors */
@import "../../.cache/wal/colors-waybar.css";

#custom-quotes {
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
    color: @color14;
}
