configuration {
    modi: "drun,run";
    show-icons: true;
    icon-theme: "Papirus";
    /* Enforce DejaVu Sans Mono here */
    font: "DejaVu Sans Mono 12";
}
@import "~/.cache/wal/colors-rofi-dark.rasi"
